{% for post in postslist | reverse %}<article><h2><a href="{{ post.url }}" aria-label="Article Title" class="postlist-link">{{ post.data.title }}</a></h2><p>{{ post.data.description }}</p><p>Publish by <a href="{{metadata.author.url}}" aria-label="Article Author">{{metadata.author.name}}</a> on <time datetime="{{ post.date | htmlDateString }}" aria-label="Article Published">{{ post.date | readableDate }}</time></p></article>{% endfor %}
